* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#soundIcon {
  position: absolute;
  top: 2vw;
  left: 2vw;
  height: 3vmax;
  width: 3vmax;
}

#soundIcon:hover {
  cursor: pointer
}
